/* Стиль для установки фоновой картинки */

body {
    background-image: url('https://img.geliophoto.com/bishkek/00_bishkek.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Стиль для формы */
.login-form {
    width: 100%;
    max-width: 600px; /* Измените максимальную ширину, чтобы сделать форму более широкой */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: 25%;
}

/* Стиль для центрирования формы */
.center-align-form {
    text-align: center;
}