<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>ПРОВЕРКА ТУРОВ</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.12.0/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="navbar-fixed">
    <nav style="background-color: #09181F;" >
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo white-text">LET'S MOVE</a>


                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/get_all_attraction" class="white-text">Достопримечательности</a>
                    </li>
                    <li>
                        <a href="/get_all_place" class="white-text">Заведения</a>
                    </li>
                    <li>
                        <a href="/get_all_tour" class="white-text">Туры</a>
                    </li>
                    <li sec:authorize="isAnonymous()"><a href="/login" class="white-text">Мой профиль</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="/adminMain" class="white-text">Мой профиль</a></li>
                    <li sec:authorize="hasAuthority('MANAGER')"><a href="/managerMain" class="white-text">Мой профиль</a></li>
                    <li sec:authorize="hasAuthority('GUIDE')"><a href="/guideMain" class="white-text">Мой профиль</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="/userMain" class="white-text">Мой профиль</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="#home">Home</a>
    </li>
    <li>
        <a href="#search">Search</a>
    </li>
    <li>
        <a href="#popular">Popular Places</a>
    </li>
    <li>
        <a href="#gallery">Gallery</a>
    </li>
    <li>
        <a href="#contact">Contact</a>
    </li>
</ul>

<div class="container">

    <h2>
        <center><b>ПРОВЕРКА ТУРОВ</b></center>
    </h2>
    <hr/>
    <table class="table table-bordered table-striped" id="employee-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>IMG</th>
            <th>НАЗВАНИЕ ТУРА</th>
            <th>ДАТА СОЗДАНИЯ</th>
            <th>СТАТУС</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="tour:${allNewTour}">
            <td th:text="${tour.id}"></td>
            <td><img th:src="'data:image/png;base64,'+${tour.img}" height="100" width="100"></td>
            <td th:text="${tour.nameTour}"></td>
            <td th:text="${tour.createdDate}"></td>
            <form th:action="@{/save_active_tour}" method="post">
                <input th:value="${tour.id}" type="number" hidden="hidden" name="tourId"/>
                <td><select th:object="${status}" type="text" name="status">
                    <option th:each="status:${statuses}" th:value="${status}">
                        <th:block th:text="${status.getName()}"></th:block>
                    </option>
                </select>
                </td>
                <td>
                    <input class="btn btn-info" type="submit" value="Send"/>
                </td>
            </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.0/datatables.min.js"></script>
</body>
</html>