<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>ПРОВЕРКА ТУРОВ</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.12.0/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div class="container">

    <h2>
        <center><b>ПРОВЕРКА ТУРОВ</b></center>
    </h2>
    <hr/>
    <table class="table table-bordered table-striped" id="employee-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>IMG</th>
            <th>НАЗВАНИЕ ТУРА</th>
            <th>ДАТА СОЗДАНИЯ</th>
            <th>СТАТУС</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="tour:${allNewTour}">
            <td th:text="${tour.id}"></td>
            <td><img th:src="'data:image/png;base64,'+${tour.img}" height="100" width="100"></td>
            <td th:text="${tour.nameTour}"></td>
            <td th:text="${tour.createdDate}"></td>
            <form th:action="@{/save_active_tour}" method="post">
                <input th:value="${tour.id}" type="number" hidden="hidden" name="tourId"/>
                <td><select th:object="${status}" type="text" name="status">
                    <option th:each="status:${statuses}" th:value="${status}">
                        <th:block th:text="${status.getName()}"></th:block>
                    </option>
                </select>
                </td>
                <td>
                    <input class="btn btn-info" type="submit" value="Send"/>
                </td>
            </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.0/datatables.min.js"></script>
</body>
</html>