<meta charset="UTF-8">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Add Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <div class="navbar-fixed">
    <nav style="background-color: #09181F;" >
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo white-text">LET'S MOVE</a>


          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/get_all_attraction" class="white-text">Достопримечательности</a>
            </li>
            <li>
              <a href="/get_all_place" class="white-text">Заведения</a>
            </li>
            <li>
              <a href="/get_all_tour" class="white-text">Туры</a>
            </li>
            <li sec:authorize="isAnonymous()"><a href="/login" class="nav-link px-2 link-dark">Мой профиль</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a href="/adminMain" class="nav-link px-2 link-dark">Мой профиль</a></li>
            <li sec:authorize="hasAuthority('MANAGER')"><a href="/managerMain" class="nav-link px-2 link-dark">Мой профиль</a></li>
            <li sec:authorize="hasAuthority('GUIDE')"><a href="/guideMain" class="nav-link px-2 link-dark">Мой профиль</a></li>
            <li sec:authorize="hasAuthority('USER')"><a href="/userMain" class="nav-link px-2 link-dark">Мой профиль</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-demo">
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#search">Search</a>
    </li>
    <li>
      <a href="#popular">Popular Places</a>
    </li>
    <li>
      <a href="#gallery">Gallery</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>

  <!-- Section: Slider -->
  <section class="slider">
    <ul class="slides">
      <li>
        <img src="https://img.geliophoto.com/bishkek/08_bishkek.jpg" alt="">
        <div class="caption center-align">
          <h2>Открой мир с нами</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Ваше незабываемое приключение ждет вас</h5>
          <a href="#" class="btn btn-large">Узнать больше</a>
        </div>
      </li>
      <li>
        <img src="https://img.geliophoto.com/bishkek/00_bishkek.jpg" alt="">
        <div class="caption left-align">
          <h2>Больше, чем просто отпуск.</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Давайте сделаем ваш отпуск по-настоящему незабываемым</h5>
          <a href="#" class="btn btn-large">Узнать больше</a>
        </div>
      </li>
      <li>
        <img src="https://tripplanet.ru/wp-content/uploads/asia/kyrgyzstan/bishkek/dostoprimechatelnosti-bishkeka.jpg" alt="">
        <div class="caption right-align">
          <h2>Ваш персональный гид в мире путешествий.</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Доверьтесь нам для лучшего опыта путешествия</h5>
          <a href="#" class="btn btn-large">Узнать больше</a>
        </div>
      </li>
    </ul>
  </section>



  <section class="section section-popular scrollspy">
    <div class="container">
      <h2 style="text-align: center">Let's Move</h2>
    <div><h5>Это платформа, которая объединяет отзывы путешественников о
      местах различных объектах. Благодаря Let’s Move Вы сможете организовать свое лучшее путешествие, начиная
      с планирования, бронирования и заканчивая самой поездкой. Наше приложение позволит вам получить максимум
      удовольствия от путешествия на всех его этапах. Узнайте, в каком месте остановиться, чем заняться и где
      поесть, благодаря рекомендациям людей, которые здесь побывали. Также Вас ждут специальные предложения
      отелей, ресторанов и бронирование увлекательных туров. </h5></div>

    </div>
  </section>

  <!-- Section: Icon Boxes -->
  <section class="section section-icons grey lighten-4 center">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text">room</i>
            <h4>Pick Where</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text">store</i>
            <h4>Travel Shop</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text">e</i>
            <h4>Fly Cheap</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Popular -->
  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="teal-text">Популярные</span> Места</h4>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
              <span class="card-title">Cancun, Mexico</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="">
              <span class="card-title">The Bahamas</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
              <span class="card-title">Nova Scotia</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <a href="#contact" class="btn btn-large grey darken-3">
            <i class="material-icons left">send</i> Contact For Booking
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Follow -->

  </head>

  <!-- Section: Gallery -->
  <section id="gallery" class="section section-gallery scrollspy">
    <div class="container">
      <h4 class="center">
        <span class="teal-text">Галерея </span>
      </h4>
      <div class="row">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?beach" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?travel" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?nature" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?beach, travel" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?beaches" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?traveling" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?bridge" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?boat, travel" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?water" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?building" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?trees" alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://source.unsplash.com/1600x900/?cruise" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Contact -->


  <!-- Footer -->
  <footer class="section teal darken-2 white-text center">
    <p class="flow-text"> <center>По всем вопросам, пишите нам на <a href="mailto:letsmovekgz@gmail.com">почту</a></center></p>
    <p class="text-center text-muted">©LET'S MOVE 2023</p>
  </footer>
  <style>
    .slider .btn {
      margin-top: 20px;
    }

    .section-search input {
      padding: 5px !important;
      font-size: 18px !important;
      width: 90% !important;
      border: #f4f4f4 3px solid !important;
    }

    .section-follow .fa-4x {
      margin: 5px 10px;
    }

    .section-contact h5 {
      margin-bottom: 30px;
    }
    .nav-wrapper {
      max-width: 800px; /* Измените это значение по вашему усмотрению */
      width: 100%;
      margin: 0 auto; /* Центрировать навигационное меню по горизонтали */
    }
    @media (max-width: 992px) {
      .nav-wrapper {
        max-width: 90%; /* Уменьшите ширину для мобильных устройств */
      }
    }

    /* Change green to #09181F */
    .teal-text {
      color: #09181F !important;
    }

    .teal {
      background-color: #09181F !important;
    }

    .teal.darken-1 {
      background-color: #09181F !important;
    }

    .teal.lighten-3 {
      background-color: #09181F !important;
    }
    .teal.darken-2 {
      background-color: #09181F !important;
    }
    }

    .btn, .btn-large,{
      background-color: #26a69a;
    }
  </style>
  <script>
    // Side Menu
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    // Slider
    const slider = document.querySelector('.slider');
    M.Slider.init(slider, {
      indicators: false,
      height: 500,
      transition: 500,
      interval: 6000
    });

    // Scrollspy
    const ss = document.querySelectorAll('.scrollspy');
    M.ScrollSpy.init(ss, {});

    // Material Boxed
    const mb = document.querySelectorAll('.materialboxed');
    M.Materialbox.init(mb, {});

    // Auto Complete
    const ac = document.querySelector('.autocomplete');
    M.Autocomplete.init(ac, {
      data: {
        "Aruba": null,
        "Cancun Mexico": null,
        "Hawaii": null,
        "Florida": null,
        "California": null,
        "Jamaica": null,
        "Europe": null,
        "The Bahamas": null,
      }
    });

  </script>
